{% extends 'studadmin/base.html' %}

{% block title %}
    Add new student
{% endblock %}
{% block content %}


                <form method="post">
                {% if student_form %}
                {{ student_form.as_p }}
                    {% csrf_token %}
                <input type="submit" value="Add new student">
                </form>
            {% endif%}
            {% if error %}
                    {{ error }}
            {% endif %}
            {% if notification %}
                {{ notification }}
            {% endif %}

{% endblock %}