{% extends 'studadmin/base.html' %}

{% block title %}
    Add new student
{% endblock %}
{% block content %}

    {% if error %}
        <span class="label-warning label">{{ error }}</span>
    {% endif %}
    {% if notification %}
        <span class="label label-success label-notification align-right">{{ notification }}</span>
    {% endif %}

    {% if student_form %}
        <form method="post">
            {% csrf_token %}
            {% for field in student_form %}
                <fieldset class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.errors }}
                    {% load add_css %}
                    {{ field|add_css:'form-control' }}
                </fieldset>
            {% endfor %}
            <span class="divider"></span>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Add new student</button>
                </div>
            </div>

        </form>
    {% endif %}





{% endblock %}
