<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% load staticfiles %}
    <link href="{% static 'studadmin/boostrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'studadmin/boostrap/css/base.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>
        {% block title %}
            The registration of a new student
        {% endblock %}
    </title>
    </block>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block body %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'studadmin/boostrap/js/bootstrap.js' %}"></script>
    {% block header %}
        {% include 'studadmin/header.html' %}
    {% endblock %}
    <div class="container-fluid center-block">
        <div class="row-fluid">
            <div class="col-lg-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-lg-3">
                {% block menu %}
                
                {% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
        {% include 'studadmin/footer.html' %}
    {% endblock %}


{% endblock %}
</body>
</html>