{% extends 'studadmin/base.html' %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}

    {% if staff_form %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% for field in staff_form %}
                <fieldset class="form-group">
                    <label class="control-label">{{ field.label_tag }}</label>
                    <div class="controls">
                        {% load add_css %}
                        {{ field|add_css:'form-control' }}
                    </div>
                </fieldset>
            {% endfor %}

            <fieldset class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Sing In</button>
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}
