{% extends 'studadmin/base.html' %}
{% block content %}
    <div class="container-fluid">
        {% for student in student_list %}
            <ul>
                <h4><a href="{% url 'studadmin:student_detail' student.id %}">{{ student.first_name }} {{ student.last_name }}</a>
                --> {{ student.speciality }}
            </h4></ul>



        {% endfor %}

        {# ..... **Now th pagination section** .... #}
        {% if is_paginated %}
            <div class="pagination pagination-center">
                {% if not page_obj.has_previous %}
                    <li class="disabled">
                        <a>Previous page</a>
                        {% else %}
                    <li>
                    <a href="{% url 'studadmin:students_list' page_obj.previous_page_number %}">Previous page</a>
                {% endif %}

                </li>
                <li class="active">
                    <a href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>

                {% if  page_obj.has_next %}
                    <li>
                        <a href="{% url "studadmin:students_list" page_obj.next_page_number %}">Next page</a>
                        {% else %}
                    <li class="disabled"><a>Next page</a>
                {% endif %}
                </li>
            </div>
        {% endif %}
    </div>
{% endblock %}

